@model _2014140143_ENT.Entities.Plan

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Plan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.codigoPlan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigoPlan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.topeConsumo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.topeConsumo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cargoFijo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cargoFijo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.caracteristicaPlan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.caracteristicaPlan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoPlans)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoPlans)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PlanId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
