@model _2014140143_ENT.Entities.Direccion

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Direccion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CentroAtencion.nombreCeAtencion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CentroAtencion.nombreCeAtencion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ubigeos.codUbigeo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ubigeos.codUbigeo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codigoDireccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigoDireccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcionDireccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcionDireccion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DireccionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
