@model _2014140143_ENT.Entities.LineaTelefonica

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LineaTelefonica</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.codigoLinea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigoLinea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iccid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iccid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.costoMinuto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.costoMinuto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoPlans)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoPlans)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LineaTelefonicaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
